anaconda-navigator
anaconda-project
astropy
awscli
awsebcli
backports.os
backports.shutil-get-terminal-size
bitarray
bkcharts
bokeh
boto
bottleneck
conda-build
conda-verify
contextlib2
cython
cytoolz
distributed
django
fastcache
flask
gevent
glob2
h5py
html5lib
imageio
imblearn
jupyter
jupyterlab
lxml
mkl-fft
mkl-random
mpmath
multipledispatch
navigator-updater
nltk
nose
numba
olefile
openpyxl
partd
path.py
pathlib2
patsy
pep8
pip-chill
ply
pycrypto
pycurl
pyodbc
pyopenssl
pyreadline
pysocks
pytest-astropy
pywinpty
scikit-image
seaborn
simplegeneric
sortedcollections
spyder
sqlalchemy
statsmodels
sympy
tables
unicodecsv
virtualenv
win-inet-pton
win-unicode-console
wincertstore
xgboost
xlrd
xlsxwriter
xlwings
xlwt
